h1 {
    position: relative;
    display: inline-block;
    left: 200px;
    font-family: cursive;
}

.logoPinata {
    position: relative;
    display: inline-block;
    left: 370px;
    top: 120px;

}

.logoHada {
    position: relative;
    display: inline-block;
    left: 380px;
    top: 70px;
}

body {
    margin: 10px 50px;
    background-color: lightblue;
}

.barraNavegacion{
    position: relative;
    top: 150px;
    right: 20px;
    text-align: center;
	width: auto;
    margin: 20px 20px;
}

.barraNavegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
    display: inline-block;
    width: 30%;
    text-align: center;
}

li:hover {
    background-color: cadetblue;
}

.menu > li > a {
	display: block;
	padding: 20px;
	color: black;
    font-family: 'Open sans';
    font-size: larger;
	text-decoration: none;
}

.menu li a:hover {
	color: whitesmoke;
	transition: all .3s;
}

#actual {
    background-color:  teal;
}

p {
    font-size: normal;
    font-family: cursive;
}

.textoGrande {
    font-size: larger;
    font-family: cursive;
}

.formulario1 {
    position: relative;
    top: 400px;
    right: 295px;
    width: 600px;
    height: 350px;
    display: inline-block;
}

.tablero1 {
    height: 325px;
    border-color: lightblue;
}

.inputText {
    width: 230px;
    height: 25px;
    display: inline-block;
}

.select1 {
    width: 150px;
    height: 25px;
    display: inline-block;
}

.select2 {
    width: 260px;
    height: 25px;
    display: inline-block;
}

.inputDate1 {
    width: 170px;
    height: 25px;
    display: inline-block;
}

.inputSubmit1 {
    width: 150px;
    height: 25px;
    display: inline-block;
    background-color: teal;
    color: white;
}

.inputSubmit1:hover {
    background-color: cadetblue;
}

.posicion1 { 
    position: relative; 
    left: 10px;
}

.posicion2 { 
    position: relative; 
    left: 380px;
    bottom: 84.1px;
}

.posicion2_1 { 
    position: relative; 
    left: 270px;
    bottom: 45px;
}

.posicion3 { 
    position: relative; 
    left: 10px;
    bottom: 80px;
}

.posicion4 { 
    position: relative; 
    left: 10px;
    bottom: 80px;
}

.posicion5 { 
    position: relative; 
    left: 186.5px;
    bottom: 185px;
}

.posicion6 { 
    position: relative; 
    left: 10px;
    bottom: 240px;
}

.posicion7 {
    position: relative;
    left: 270px;
    bottom: 239px;
}

.posicion8 {
    position: relative;
    left: 270px;
    bottom: 239px;
}

.posicionError {
    position: relative;
    top: 130px;
    text-align: center;
}

.texto1 {
    position: relative;
    left: 360px;
    display: inline-block;
    font-family: cursive;
    width: 700px;
    text-align: justify;
}

h2 {
    text-align: center;
}

.iconoUsuario {
    position: absolute;
    display: inline-block;
    left: 155px;
    top:50px;
}

.nombreUsuario {
    position: absolute;
    display: inline-block;
    left: 235px;
    top:45px;
    font-size: larger;
    font-family: cursive;
}