body {
    margin: 10px 50px;
    background-color: lightblue;
}

p {
    font-size: normal;
    font-family: cursive;
}

.textoGrande {
    font-size: larger;
    font-family: cursive;
}

.formulario1 {
    position: relative;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 350px;
}

.tablero1 {
    height: 145px;
    border-color: lightblue;
    
}

.inputText {
    width: 230px;
    height: 25px;
    display: inline-block;
}

.inputDate {
    width: 230px;
    height: 25px;
    display: inline-block;
}

.inputNumber {
    width: 230px;
    height: 25px;
    display: inline-block;
}

.inputSubmit {
    width: 150px;
    height: 25px;
    display: inline-block;
    background-color: teal;
    color: white;
}

.inputSubmit1:hover {
    background-color: cadetblue;
}

.posicion1 { 
    position: relative;
    left:10px;
}

.posicion2 { 
    position: relative;
    left:320px; 
    bottom:31px;
}

.posicion3 { 
    position: relative; 
    left:10px;
    
}

.posicion4 { 
    position: relative; 
    left:10px;

}

.posicion5 { 
    position: relative; 
    left:400px;
    bottom: 27px;
    
}

.texto1 {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: cursive;
    width: 700px;
    text-align: justify;
}

h2 {
    text-align: center;
}

.botonRegresar {
    position: relative;
    bottom: 45px;
    left: 910px;
    text-decoration: none;
    display: inline-block;
    background-color: teal;
    color: white;
    padding: 10px;
    border: solid;
    border-top-color: gray;
    border-left-color: gray;
    border-right-color: black;
    border-bottom-color: black;
}

.botonRegresar:hover {
    background-color: cadetblue;
}